<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
		  src="http://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>
		<script 
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" 
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
			crossorigin="anonymous"></script>
		<script 
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
			crossorigin="anonymous"></script>

	    <title>Hello, world!</title>

		<!-- <script src="/js/datatable.js"></script> -->
	</head>	

	<body>
		<noscript><h1>please enable JavaScript in your browser</h1></noscript>
		<br>
		<br>
		<h1>登录</h1>
		<!-- <h1 id="employeesTable"></h1> -->
		<br>
		<br>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">用户名：</span>
			</div>
			<input 
				type="text" class="form-control" placeholder="Username" id="Username"
				aria-label="Username" aria-describedby="basic-addon1">
		</div>
		<br>
		<br>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">密码：</span>
			</div>
			<input 
				type="text" class="form-control" placeholder="Password"  id="Password"
				aria-label="Password" aria-describedby="basic-addon1">
		</div>


		<button type="button" class="btn btn-light" id="signup">注册</button>
		<button type="button" class="btn btn-dark" id="login" onclick="loginAjaxCall();">登录</button>

		<script type="text/javascript">
	        var alert = $('body');
			// $("#login").click(loginAjaxCall);
			function loginAjaxCall(){
				alert.find('.alert').remove();
				alert.prepend(`
					   			<div class="alert alert-primary" role="alert" id="loging">
									loging...
								</div>
							`
							);
				var person = {
		            username:$("#Username").val(),
		            password:$("#Password").val()
	        	};

				$.ajax({
					type: "post",
			  		url: "/login",
			  		cache: false,    
					data: JSON.stringify(person),
					// dataType: 'json',// satisfied response type
					contentType: "application/json",// request type
			 		success: function(response){
				    	$('#result').html("");
				    	console.log(response);
			   			// var obj = JSON.parse(response);
			   			// console.log(obj);
			   			var obj = response;
			   			if(response.constructor.name == "String") obj = JSON.parse(response);
			   			if(obj.result == "success") {
			   				alert.find('.alert').remove();
				   			alert.prepend(`
					   			<div class="alert alert-success" role="alert">
									login success!
								</div>
							`
							);
							
				   		}
				   		else {
				   			alert.find('.alert').remove();
				   			alert.prepend(`
					   			<div class="alert alert-warning" role="alert">
									username or password wrong!
								</div>
							`
							);
							
				   		}

			   		},
				   	error: function(){
				   		alert.find('.alert').remove();
				   		alert.prepend(`
				   			<div class="alert alert-danger" role="alert">
								login failed, please check your network!
							</div>
						`
						);
				   		
				   	}
			    });
			};
			</script>


		<br>
		<br>

	</body>
</html>