<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
		  src="http://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>
		<script 
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" 
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
			crossorigin="anonymous"></script>
		<script 
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
			crossorigin="anonymous"></script>
		<script src="/js/login.js"></script>
		<link rel="stylesheet" type="text/css" media="all" href="css/login.css" th:href="@{/css/login.css}"/>

	    <title>登录</title>

	</head>	

	<body>
		<noscript><h1>please enable JavaScript in your browser</h1></noscript>
		<div class="bg">
		<br>
		<br>
		
		<br>
		<br>
<!-- 		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">用户名</span>
			</div>
			<input 
				type="text" class="form-control is-invalid" placeholder="Username"  id="Username"
				aria-label="Username" aria-describedby="basic-addon1">
			<div class="invalid-feedback">
      			Please enter your username.
    		</div>	
    		<div class="valid-feedback">
				Looks good!
			</div>
		</div>
		<br>
		<br>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">密码</span>
			</div>
			<input 
				type="text" class="form-control is-invalid" placeholder="Password"  id="Password"
				aria-label="Password" aria-describedby="basic-addon1">
			<div class="invalid-feedback">
      			Please enter your password.
    		</div>	
    		<div class="valid-feedback">
				Looks good!
			</div>
		</div> -->
<!-- 
		
		<button type="button" class="btn btn-dark" id="login" onclick="loginAjaxCall();">登录</button> -->

		<form class="container rounded shadow p-3 mb-5" id="loginContainer" style="max-width: 400px;">

			
			<!-- <h1 class="text-center">问卷</h1> -->
			<br>
			<div class="form-group">
				<label>用户名</label>
				<input type="text" class="form-control is-invalid" placeholder="Username" id="Username"
					   aria-label="Password" aria-describedby="basic-addon1">
				<div class="invalid-feedback">Please enter your username.(at least 1 characters)</div>	
    			<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="form-group">
				<label>密码</label>
				<input type="password" class="form-control is-invalid" placeholder="Password"  id="Password"
					   aria-label="Password" aria-describedby="basic-addon1">
				<div class="invalid-feedback">Password must be more than 8 characters.</div>	
    			<div class="valid-feedback">Looks good!</div>
			</div>
			<p class="text-right" data-toggle="modal" data-target="#Modal"><a class="text-primary" href="#" >还没账号？点我注册！</a></p>
			<button type="button" class="btn btn-primary btn-lg btn-block" id="login" onclick="loginAjaxCall();" disabled>登录</button>
						<!-- <br> -->
			
		</form>

		<div class="modal fade rounded shadow p-3 mb-5" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">

		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">注册</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">

			    <form>
					<div class="form-group" id="alert_here">
						<label>用户名</label>
						<input type="text" class="form-control is-invalid" placeholder="Username" id="UsernameSignup"
							   aria-label="Password" aria-describedby="basic-addon1">
						<div class="invalid-feedback">Please enter your username.(at least 1 characters)</div>	
		    			<div class="valid-feedback">Looks good!</div>
					</div>
					<div class="form-group">
						<label>密码</label>
						<input type="password" class="form-control is-invalid" placeholder="Password" id="PasswordSignup"
							   aria-label="Password" aria-describedby="basic-addon1">
						<div class="invalid-feedback">Password must be more than 8 characters.</div>	
		    			<div class="valid-feedback">Looks good!</div>
					</div>
				</form>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary btn-lg btn-block" id="signup" onclick="signupAjaxCall();" disabled>注册</button>
		      </div>
		    </div>
		  </div>
		</div>





		<br>
		<br>
		</div>
	</body>
</html>